[submodule "SPICEPilot"]
	path = SPICEPilot
	url = https://github.com/MadsRudolph/SPICEPilot.git
[submodule "4. Semester/Digital Systems Design/team"]
	path = 4. Semester/Digital Systems Design/team
	url = git@github.com:gigurd/Design-of-digital-systems-62711.git
[submodule "Obsidian/Courses/34655 Integrated Analog Electronics 2/Report"]
	path = Obsidian/Courses/34655 Integrated Analog Electronics 2/Report
	url = https://github.com/MadsRudolph/Design-af-opamp-analog-ic-2.git
[submodule "spicepilot-kicad"]
	path = spicepilot-kicad
	url = git@github.com:MadsRudolph/spicepilot-kicad.git
[submodule "Obsidian/Courses/62711 Digital Systems Design/Report"]
	path = Obsidian/Courses/62711 Digital Systems Design/Report
	url = git@github.com:MadsRudolph/PWA.git
[submodule "4. Semester/Internet of Things/Arduino/Ex13"]
	path = 4. Semester/Internet of Things/Arduino/Ex13
	url = https://github.com/MadsRudolph/iot-ex13.git
