[submodule "SPICEPilot"]
	path = SPICEPilot
	url = https://github.com/MadsRudolph/SPICEPilot.git
[submodule "4. Semester/Digital Systems Design/team"]
	path = 4. Semester/Digital Systems Design/team
	url = https://github.com/MadsRudolph/digital-systems-design.git
